# Dependencies
node_modules

# Build output
dist
dist-ssr
src-tauri/target

# Databases
*.db
*.db-journal
*.db-wal
*.db-shm

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Editors
.vscode/*
!.vscode/extensions.json
.idea
